@font-face {
  font-family: "iconfont"; /* Project id 4340241 */
  src: url('//at.alicdn.com/t/c/font_4340241_kiofyvb8zdd.woff2?t=1700559433833') format('woff2'),
       url('//at.alicdn.com/t/c/font_4340241_kiofyvb8zdd.woff?t=1700559433833') format('woff'),
       url('//at.alicdn.com/t/c/font_4340241_kiofyvb8zdd.ttf?t=1700559433833') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiagongchang:before {
  content: "\e8c1";
}

.icon-nongyerongdan:before {
  content: "\e8c2";
}

.icon-guangfuban:before {
  content: "\e8c3";
}

.icon-zhongmiaogongyingshang:before {
  content: "\e8c4";
}

.icon-nongyaogongyingshang:before {
  content: "\e8c5";
}

.icon-cangchu:before {
  content: "\e8c6";
}

.icon-nongjifuwugongyingshang:before {
  content: "\e8c7";
}

.icon-mingong:before {
  content: "\e8c8";
}

.icon-pingjijigou:before {
  content: "\e8c9";
}

.icon-feiliaogongyingshang:before {
  content: "\e8ca";
}

.icon-dianziqianzhang:before {
  content: "\e8cb";
}

.icon-jianguanjigou1:before {
  content: "\e8cc";
}

.icon-kuangye:before {
  content: "\e8cd";
}

.icon-yinhang:before {
  content: "\e8ce";
}

.icon-jingxiaoshang:before {
  content: "\e8cf";
}

.icon-zhiwenshibie:before {
  content: "\e8d0";
}

.icon-chayuanjidi:before {
  content: "\e8d1";
}

.icon-wuliu:before {
  content: "\e8d2";
}

.icon-EPC:before {
  content: "\e8d3";
}

.icon-jiaoyisuo:before {
  content: "\e8d4";
}

.icon-jiancejigou:before {
  content: "\e8d5";
}

.icon-dianzihetong:before {
  content: "\e8d6";
}

